## Fast cd ##
alias ..='cd ..'
alias .2='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

## Colorize the grep command output for ease of use (good for log files) ##
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

## colorls ##
source $(dirname $(gem which colorls))/tab_complete.sh
alias ls='colorls --sort-dirs'
alias lt='colorls --tree'
alias la='colorls -a'

## Directories alias ##
export SSH=~/.ssh

