[user]
    name = XXXXXX
    email = XXXXXX
    signingkey = XXXXXXX
    
[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[color]
    ui = auto

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[alias]
    # Basic workflow
    st = status --short --branch --column
    cm = commit --verbose
    br = branch --all
    branch-cleanup = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -n 1 git branch -d; }; f"
    co = checkout
    fo = fetch origin --prune --verbose
    fa = fetch --all --prune --verbose
    df = diff
    dfs = diff --staged
    
    # git-log
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    llg = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

[diff]
    tool = vimdiff

[difftool]
    prompt = false
    
[commit]
    gpgsign = true

